{% extends "booklist/base.html" %}
{% load static %}
{% load sass_tags %}


{% block header %}
  <div class="item center">
      <div class="ui icon input search">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
      <a class="ui primary button list-create right-btn" href="{% url 'booklist:lists_create' %}" role="button">リスト作成</a>
  </div>
{% endblock %}

{% block menu %}
  <table class="ui small very basic table">
    <thead>
      <tr>
        <th class="wid-5">No.</th>
        <th class="wid-5">状態</th>
        <th class="wid-15">タイトル</th>
        <th class="wid-15">著者名</th>
        <th class="wid-10">カテゴリー</th>
        <th class="wid-20">動機</th>
        <th class="wid-15">発行年</th>
      </tr>
    </thead>
  </table>
{% endblock %}

{% block content %}
  {% for list in list_list %}
    <div>
      <h4>{{ list.title }}</h4>
      <a href="{% url 'booklist:lists_update' list.pk %}"><i class="edit outline icon"></i></a>
      <a href="{% url 'booklist:lists_delete' list.pk %}"><i class="trash alternate outline icon" ></i></a>
    </div>

    <div class="table-wrapper">
      <table class="ui small selectable celled table">
        <tbody>
        {% for card in list.card_set.all %}
          <tr class="ui-state-default">
            <td class="wid-5">No.{{ card.no }}</td>
            <td class="wid-5">{{ card.status }}</td>
            <td class="wid-15">{{ card.title }}</td>
            <td class="wid-15">{{ card.author_name }}</td>
            <td class="wid-10">{{ card.category }}</td>
            <td class="wid-20">{{ card.motive }}</td>
            <td class="wid-15">
              <div><p class="td_text">{{ card.issuance_years }}</p></div>
              <div class="menu">
                <a class="item" href="{% url 'booklist:cards_update_from_home' card.pk list.pk %}"><i class="edit outline icon"></i></a>
                <a class="item" href="{% url 'booklist:cards_delete' card.pk %}"><i class="trash alternate outline icon"></i></a>
              </div>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <a class="card-create hidden text-dark" href="{% url 'booklist:cards_create_from_home' list.pk %}"><i class="plus square outline icon"></i>さらに書籍を追加</a>
    </div>
  {% endfor %}


{% endblock %}


