{% extends "booklist/base.html" %}
{% load static %}

{% block header %}
  <div class="header_title">
    <h1>ユーザー詳細</h1>
  </div>
{% endblock %}

{% block content %}
<div class="container">
    <dl class="row">
    <dt class="col-sm-3">ユーザー名</dt>
    <dd class="col-sm-9">{{ user.username }}</dd>
    <dt class="col-sm-3">姓</dt>
    <dd class="col-sm-9">{{ user.last_name }}</dd>
    <dt class="col-sm-3">名</dt>
    <dd class="col-sm-9">{{ user.first_name }}</dd>
    <dt class="col-sm-3">メールアドレス</dt>
    <dd class="col-sm-9">{{ user.email }}</dd>
  </dl>
  <a class="ui primary button" href="{% url 'accounts:users_update' user.pk  %}" role="button">編集</a>
  <a class="ui button" href="{% url 'booklist:home' %}" role="button">戻る</a>
</div>
{% endblock %}

