.site-header {
  position: fixed;
  top: 0rem;
  width: 100%;
  z-index: 2;
}

.section-header {
  height: 40rem;
  position: relative;
  top: -8rem;
}

main {
  position: relative;
  top: 2rem;
  z-index: 1;
}

.taitle_position {
  position: relative;
  top: 13rem;
  margin-top: 12rem;
  margin-bottom: 12rem;
}

.h1_font {
  font-size: 8rem;
  font-family: cursive;
  font-weight: lighter;
}


