{% extends "booklist/base.html" %}
{% load static %}
{% load sass_tags %}


{% block style %}
    <!-- form.scss -->
    <link rel="stylesheet" href="{% sass_src 'scss/booklist/form.scss' %}">
{% endblock %}

{% block header %}
  <div class="header_title">
    <h1>書籍編集</h1>
  </div>
{% endblock %}

{% block menu %}
<div class="table-header">
  <table class="ui small very basic table table-head">
    <thead>
      <tr>
        <th class="wid-5">No.</th>
        <th class="wid-5">状態</th>
        <th class="wid-15">タイトル</th>
        <th class="wid-15">著者名</th>
        <th class="wid-10">カテゴリー</th>
        <th class="wid-20">動機</th>
        <th class="wid-15">発行年</th>
      </tr>
    </thead>
  </table>
</div>
{% endblock %}

{% block content %}

  <form action='' method="post">
    <table class="ui  small celled table">
      <tbody>
        <tr class="ui-state-default">
          <td class="wid-5">{{ form.no }}</td>
          <td class="wid-5">{{ form.status }}</td>
          <td class="wid-15">{{ form.title }}</td>
          <td class="wid-15">{{ form.author_name }}</td>
          <td class="wid-10">{{ form.category }}</td>
          <td class="wid-20">{{ form.motive }}</td>
          <td class="wid-15">{{ form.issuance_years }}</td>
        </tr>
      </tbody>
    </table>
    <button type="submit" class="ui primary button">送信</button>
    <a class="ui button" href="{% url 'booklist:home' %}" role="button">戻る</a>
    {% csrf_token %}
  </form>

{% endblock %}
